* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#formular {
  padding: 20px 30px;
  background: yellow;
  border-radius: 12px;
}
h3 {
  margin-top: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}
.row div {
  padding: 8px 12px;
  background-color: #ced016;
}
#resetBtn {
  padding: 10px 0px;
  text-align: center;
  background: #1a1a1b;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
